.menuDiarioContenedor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}
.menuDiarioContenido{
    display: flex;
    flex-direction: row;    
    align-items: center;
}
.menuDiarioContenido h4, p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.ver-mas {
    background-color: #b75d8d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    border-radius: 5px;
  }
  
  .ver-mas:hover {
    background-color: #b3005f;
  }