
.imgMenu{
    
    width: 200px; 
    height: auto;
}
.menuDiarioContenedor{
    width: 500px;
    background-color: antiquewhite;
}

.menuDiarioContenido{ 
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
   
    
    
    
}

