
.imgMenu{
    
    width: 200px; 
    height: auto;
}
.menuDiarioContenedor{
    
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    flex-direction:row  ;
    
   
    
}

.menuDiarioContenido{
    max-width: 200px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
   
    
    
    
}
.contador{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1; 
    margin: 0 5px; 
}
